/* Desenvolva sua estilização aqui... */

.header__container {
    background-image: url(/assets/img/header-bg.svg);
    height: 789px;
    background-size: cover;
    background-position: center;    
    padding: 0 1rem;
    display: flex;
    /* gap: 3.75rem; */
    align-items: center;
}

.header__container > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.75rem;
}


.header__container > nav > img {
    width: 193.31px;
    height: 23.97px;

}

.header__container > nav > button {
    font-size: var(--text-2);
    background-color: var(--color-brand-1);
    border: 0;
    color: var(--color-grey-6);
    border-radius: 8px;
    padding: 0.75rem 3.125rem;
    
}

.text__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text__container > h3 {
    color: var(--color-grey-3);
    font-size: var(--title-3);
    font-weight: 600;
    line-height: 3rem;
}

.text__container > div > p, .text__container > p {
    color: var(--color-grey-5);
    font-size: var(--text-2);
    font-weight: 400;
    line-height: 2rem;
}

.text__container > p{
    font-weight: 600;
}

section.jobs {
    padding: 2.813rem 1rem;
}

section.jobs > h4 {
    font-size: var(--title-4);
    padding-bottom: 2.813rem;
    color: var(--color-grey-1);
}

li.jobOffer {
    background-color: var(--color-grey-6);
    list-style: none;
    padding: 2.375rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1.75rem;
    margin-bottom: 2rem;
}

div.jobOffer__topContainer {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.jobOffer__topContainer > h4 {
    color: var(--color-grey-1);
    line-height: 2rem;
}

li.jobOffer p {
    color: var(--color-grey-2);
    font-size: var(--text-2);
    line-height: 2rem;
}

.jobOffer__topContainer > small {
    color: var(--color-grey-2);
}

.small__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

p.tag {
    background-color: var(--color-grey-3);
    display: inline-block;
    padding: 4px 12px;
    border-radius: 8px;
}

div.tagButton__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.tag__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

div.tagButton__container > button {
    color: var(--color-grey-6);
    background-color: var(--color-brand-1);
    border: 2px solid #6741D9;
    padding: 7px 87px;
    border-radius: 8px;
    font-size: var(--text-2);
    
}


button {
    cursor: pointer;
}
